# Telegram
NEXT_PUBLIC_TG_BOT=https://t.me/your_bot
NEXT_PUBLIC_TG_CHANNEL=https://t.me/your_channel

# Instagram  
NEXT_PUBLIC_INSTAGRAM=https://www.instagram.com/your_account

# Phone
NEXT_PUBLIC_PHONE=+998XXXXXXXXX
NEXT_PUBLIC_PHONE_LINK=tel:+998XXXXXXXXX

# Site
NEXT_PUBLIC_SITE_URL=https://yoursite.uz
